Repository cms-rwth/CoffeaRunner, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, core, runner

.github/labeler.yml:

CI:
- .github/workflows/*

core:
- src/BTVNanoCommissioning/*

runner:

- runner_wconfig.py

fix: update env.yml (for compatibility) python version < 3.11, here 3.10 to allow installing coffea dependencies p-tqdm to use validation inside runner
  env.yml
Labels: none

feat: fetcher ability to list files from a path (for samples not published on DAS)
  filefetcher/fetch.py
  runner.py
Labels: none

Feat & Fix: environment compatibility & transparent handling of corrupted files (#11)
  README.md
  env.yml
  runner.py
Labels: none

Fetcher fetches local files
  filefetcher/fetch.py
  plotting/comparison.py
  src/BTVNanoCommissioning/helpers/xsection.py
Labels: none

fix conflict
  testfile/btv_compare.yml
Labels: none

fix conflict
  testfile/btv_compare.yml
Labels: none

feat: fetcher ability to list files from a path (for samples not published on DAS)
  filefetcher/fetch.py
  plotting/comparison.py
  runner.py
  src/BTVNanoCommissioning/helpers/xsection.py
  testfile/btv_compare.yml
Labels: none

Print into file
  runner_wconfig.py
Labels: runner

run black
  filefetcher/fetch.py
  runner.py
Labels: none

run black
  runner_wconfig.py
Labels: runner

change python version in yaml: >=3.8, <3.11
  env.yml
Labels: none

set default mins and maxs to avoid crash
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

bath ends with /
  plotting/comparison.py
Labels: none

example files for new fetcher
  README.md
  filefetcher/imput_singlemuon.txt
  filefetcher/input_DAS_list.txt
  filefetcher/input_PATH_list.txt
  filefetcher/list.txt
Labels: none

fix: actions
  .github/workflows/plotting_test.yml
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: CI

fix:plotting workflow
  .github/workflows/plotting_test.yml
Labels: CI

Fix actions (#15)
  .github/workflows/plotting_test.yml
  README.md
  env.yml
  filefetcher/fetch.py
  filefetcher/imput_singlemuon.txt
  filefetcher/input_DAS_list.txt
  filefetcher/input_PATH_list.txt
  filefetcher/list.txt
  plotting/comparison.py
  runner.py
  runner_wconfig.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  testfile/btv_compare.yml
Labels: CI, runner

feat: add split
  config/HWW2l2nu_split.py
  runner_wconfig.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: runner

include extra plotting configs for VHcc explicitly
  plotting/plotdataMC_vhcc.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  testfile/vhcc_test_datamc.yml
Labels: none

fix explicitly running over all included branches of coffea output
  testfile/vhcc_test_datamc.yml
Labels: none

feat: add ignore
  .gitignore
Labels: none

feat:fixes
  .gitignore
  metadata/test.json
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/data/JME/UL17/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/utils/compile_jec.py
Labels: none

reco selection updated
  plotting/comparison.py
  runner_wconfig.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: runner

fix: minor fixes for plot
  plotting/comparison.py
  plotting/plotdataMC.py
  runner_wconfig.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  test_wf.py
  testfile/btv_compare.yml
  testfile/btv_datamc.yml
Labels: runner

fix
  plotting/comparison.py
  runner.py
Labels: none

reco selection updated (#16)
  plotting/comparison.py
  runner_wconfig.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: runner

merge for #16
  filefetcher/fetch.py
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  runner_wconfig.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: runner

add missing json
  metadata/test.json
Labels: none

feat: add array output to root files
  src/BTVNanoCommissioning/helpers/func.py
Labels: none

minor tweaks for plotting
  plotting/comparison.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

minor tweaks
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

minor tweaks
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

Minor tweaks for plotting (#19)
  plotting/comparison.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

Update README.md
  README.md
Labels: none

allow additional scaling for multiple samples at the same time
  filefetcher/fetch.py
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

fixed README file
  README.md
Labels: none

Run linting
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/plot_utils.py
Labels: none

Run linting
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none

fix example forkflow
  src/BTVNanoCommissioning/utils/correction.py
  test_wf.py
Labels: none

Simplify additional scale method, removing sumw check
  src/BTVNanoCommissioning/utils/xs_scaler.py
Labels: none
