Repository cms-rwth/CoffeaRunner, pull requests merged in 2022-11, with the labels that each got.

#4 Feat : merge development from NanoBTV and add plotting code
  .github/workflows/test_workflow.yml
  .gitignore
  README.md
  WQ_test.yml
  filefetcher/fetch.py
  metadata/ctag_DY_mu_PFNano.json
  metadata/test.json
  metadata/test_w_dj.json
  metadata/xsection.json
  plotting/comparison.py
  plotting/plotdataMC.py
  plotting/plotter.py
  runner_wconfig.py
  src/BTVNanoCommissioning/data/JME/Rereco17_94X/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/UL16_postAPV/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/UL16_preAPV/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/UL17/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/JME/UL18/jec_compiled.pkl.gz
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuIDSF_lowpT.histo.root
  src/BTVNanoCommissioning/data/LSF/Rereco17_94X/RunBCDEF_MuISOSF.histo.root
  src/BTVNanoCommissioning/helpers/definitions.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/AK4_parameters.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/compile_jec.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/histogrammer.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  src/BTVNanoCommissioning/workflows/__init__.py
  src/BTVNanoCommissioning/workflows/ctag_DY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_Wc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_dileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eDY_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_eWc_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_edileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_emdileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_ettsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_semileptt_valid_sf.py
  src/BTVNanoCommissioning/workflows/ctag_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttbar_validation.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttdilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_jec.py
  src/BTVNanoCommissioning/workflows/ttsemilep_valid_sf.py
  src/BTVNanoCommissioning/workflows/validation.py
  testfile/btv_compare.yml
  testfile/btv_datamc.yml
  testfile/hists_ctag_Wc_sf_DY_Oct27.coffea
  testfile/hists_ctag_Wc_sf_VV_Oct27.coffea
  testfile/hists_ctag_Wc_sf_WJet_Oct27.coffea
  testfile/hists_ctag_Wc_sf_runc1_Oct27.coffea
  testfile/hists_ctag_Wc_sf_runc2_Oct27.coffea
  testfile/hists_ctag_Wc_sf_rund1_Oct27.coffea
  testfile/hists_ctag_Wc_sf_rund2_Oct27.coffea
  testfile/hists_ctag_Wc_sf_st_Oct27.coffea
  testfile/hists_ctag_Wc_sf_tt_Oct27.coffea
Labels: CI, runner

#6 Fix : workable and plot example
  config/example.py
  metadata/__init__.py
  metadata/test.json
  metadata/test_UL17_NanoV9.json
  plotting/__init__.py
  plotting/comparison.py
  plotting/plotdataMC.py
  runner.py
  runner_wconfig.py
  src/BTVNanoCommissioning/helpers/func.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  test_wf.py
  testfile/btv_compare.yml
  testfile/btv_datamc.yml
  testfile/hists_ctag_Wc_sf_rund1_Oct27.coffea
  testfile/hists_ctag_Wc_sf_rund2_Oct27.coffea
Labels: runner

#7 feat: plotting scripts error , file merging issues
  .github/workflows/python_linting.yml
  .gitignore
  README.md
  config/HWW2l2nu.py
  plotting/comparison.py
  plotting/plotdataMC.py
  runner_wconfig.py
  setup.cfg
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/utils/correction.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  test_env.yml
Labels: CI, runner

#8 WIP: Various fixes to avoid crashes
  .github/workflows/test_workflow.yml
  README.md
  config/example.py
  env.yml
  filefetcher/fetch.py
  metadata/test.json
  metadata/test_UL17_NanoV9.json
  plotting/comparison.py
  plotting/plotdataMC.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  testfile/btv_compare.yml
  testfile/btv_datamc.yml
Labels: CI

#10 fix & feat: plotting scripts, configurator
  .github/workflows/plotting_test.yml
  .github/workflows/test_workflow.yml
  README.md
  plotting/comparison.py
  plotting/plotdataMC.py
  runner_wconfig.py
  src/BTVNanoCommissioning/helpers/update_branch.py
  src/BTVNanoCommissioning/helpers/xsection.py
  src/BTVNanoCommissioning/utils/Configurator.py
  src/BTVNanoCommissioning/utils/plot_utils.py
  src/BTVNanoCommissioning/utils/xs_scaler.py
  testfile/btv_compare.yml
  testfile/btv_datamc.yml
Labels: CI, runner
